{% extends 'base.html' %}

{% block header %}
<header class="mt-3 mt-md-5 mb-3 mb-md-5 clearfix">
	<h2 class="float-left">Agents</h2>
	<div class="float-right">
		<a href="{{ url_for('admin.invite') }}" class="btn btn-light">Invite Agent</a>
		<a href="{{ url_for('admin.logout') }}" class="btn btn-light">Logout</a>
	</div>
</header>
{% endblock %}

{% block content %}
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Invited at</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for agent in agents %}
		<tr>
			<td>{{ agent.name }}</td>
			<td>{{ agent.phone }}</td>
			<td>{{ agent.invite.invited_at }}</td>
			<td>
				<button data-agent-id="{{ agent.id }}" class="btn btn-danger btn-sm remove-agent-btn">Remove</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Remove agent Modal -->
<div class="modal fade" id="remove-agent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove agent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove agent from your list?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="remove-agent-confirm">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(function() {
	var del_agent_id;
	var del_agent_modal = $("#remove-agent");
	var del_agent_url = "{{ url_for('admin.remove_agent') }}";
	var home_url = "{{ url_for('admin.home') }}";
	$(".remove-agent-btn").click(function() {
		del_agent_id = $(this).data("agent-id");
		del_agent_modal.modal("show")
	});

	$("#remove-agent-confirm").click(function() {
		var data = {agent_id: del_agent_id};
		$.post(del_agent_url, data, function() {
			window.location = home_url;
		});
	});

});

</script>
{% endblock %}